<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <connectionStrings>
    <!--<add name="postgresql" connectionString="Host=localhost;Username=postgres;Password=123456;Database=serviciospublicos"/>-->
    <add name="postgresql" connectionString="Server=serviciospublicosdb.postgres.database.azure.com;Database=serviciospublicosdb;Port=5432;User Id=phenom@serviciospublicosdb;Password=postgres$8098699570;SSL=true;SslMode=Require;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
  </appSettings>
  <log4net>
    <appender name="PostgresAppender" type="ServiciosPublicos.Logger.PostgresAppender, ServiciosPublicos.Logger">
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="PostgresAppender"/>
    </root>
  </log4net>


</configuration>
